NEXT_PUBLIC_THIRDWEB_CLIENT_ID=71e20f4fe4537525ee7c766d094b27b1
MONGODB_URI=mongodb+srv://mazolpro:amabeth41@mazolpro1.zg4hars.mongodb.net/mazolpro?retryWrites=true&w=majority&appName=MazolPro1
MAZOL_CONTRACT_ADDRESS=0x49F4a728BD98480E92dBfc6a82d595DA9d1F7b83
FLUTTERWAVE_SECRET_KEY=FLWSECK-03ad571d0267524dbfcc0b609c88fa1d-19791f7b1devt-X
NEXT_PUBLIC_PLATFORM_WALLET=0x4bd6033bCe207fa4F5a2Bd4d003a690ed4c3D859

# Client-side variables
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=your_client_id_here
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=your_flw_key_here

# Server-side only variables
THIRDWEB_SECRET_KEY=your_secret_key_here
MZLX_TOKEN_CONTRACT=your_contract_address_here
